@import 'variables';

:root {
  background-color: $background-main;
  color: $text-main;
}

h1,
h2 {
  font-size: $font-size-heading-regular;
  color: $text-high-contrast;
}


// Basic reset
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

ul[role='list'],
ol[role='list'],
li {
  list-style: none;

  a {
    color: white;
    text-decoration: none;
  }
}

img,
picture {
  max-width: 100%;
  display: block;
  border-radius: 2rem;
}

span {
  color: $text-brand;
}

input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

textarea:not([rows]) {
  min-height: 10em;
}

:target {
  scroll-margin-block: 5ex;
}

p {
  font-size: $font-size-md;
  line-height: 1.5
}
