@import 'variables';
@import 'mixins';


:root {
  --background: #{$background-main};
  --foreground: #{$text-main};
  background-color: var(--background);
  color: var(--foreground);
}

[data-theme='dark'] {
  --background: #{$dark-background};
  --foreground: #{$dark-foreground};
}

h1,
h2 {
  font-size: $font-size-heading-regular;
  color: $text-high-contrast;
}


// Basic reset
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  scroll-behavior: smooth;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

ul[role='list'],
ol[role='list'],
li {
  list-style: none;
  
  a {
    color: white;
    text-decoration: none;
  }
}

img,
picture {
  max-width: 100%;
  display: block;
  
}

span {
  color: $text-brand;
}


textarea:not([rows]) {
  min-height: 10em;
}

:target {
  scroll-margin-block: 5ex;
}

p {
  font-size: $font-size-md;
  line-height: 1.5;    
}

