@import 'variables';
@import 'mixins';

// Add your Home page styles here

.equalColumns {
  @include grid(3);
  padding-block: 2rem;
  font-size: $font-size-lg;
}

.button {
  @include button-base;
  &:hover {
    background-color: $background-accent-light;
  }
}
// Utility class
.visuallyHidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}