@use '../app/variables' as v;
@use '../app/mixins' as m;

// Add your Card styles here

.card {
  border-radius: v.$border-radius-3;
  background-color: v.$background-light;
  padding: 1rem;
  @include m.fade_in;
  img {

    border-radius: v.$border-radius-3;
  }
  h3 {
    color: v.$text-brand;
  }
}