@import '../app/variables';
@import '../app/mixins';

// Add your Footer styles here

.siteFooter {
  text-align: center;
  padding-block: 2rem;
  display: grid;
  gap: 2rem;
  background-color: $background-dark;
  a{ 
    text-decoration: none;
    color: $text-main;
    &:hover {
      color: $text-high-contrast;
    }
  }
  .footer_title {
    font-weight: 700;
  }
}