@import '../app/variables';
@import '../app/mixins';

// Add your Header styles here
.wrapper {
  max-width: 1130px;
  margin-inline: auto;
  .wrapper_narrow {
    max-width: 700px;
  }
}

.siteHeader {
  padding-block: 1rem
}

.site_header_inner {
  @include flex-between;

}
.primaryNavigation {
  ul {
    display: flex;
    gap: 1rem;
  }
}


.hamburger_menu {
  display: none;
  @include respond-to(md) {
    display: block;
  }
}
// Utility class
.visuallyHidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}