@import '../app/variables';
@import '../app/mixins';

// Add your Header styles here
.wrapper {
  max-width: 1130px;
  margin-inline: auto;
  .wrapper_narrow {
    max-width: 700px;
  }
}

.siteHeader {
  padding-block: 1rem
}

.site_header_inner {
  @include flex-between;

}
.primaryNavigation {
  ul {
    display: flex;
    gap: 1rem;
  }
    @include respond-to(md) {
      background-color: $background-accent-main;
      padding: 2rem;
      position: absolute;
      top: 0;
      right: 0;
      font-size: $font-size-lg;
      font-weight: 700;
    ul {
      flex-direction: column;
      gap: 0;
      
    }
    li + li{
      margin-block-start: 1.5rem;
      padding-block-start: 1.5rem;
        border-top: 2px solid $background-accent-light;
    }
  }
}


.hamburger_menu {
  display: none;
  height: 50px;
  width: 50px;
  background-color: $background-main;
  @include respond-to(md) {
    position: absolute;
    background: transparent;
    border: 0;
    cursor: pointer;
    color: $text-high-contrast;
    z-index: 1;
    top: 0;
    right: 0;
    display: block;
  }
}
// Utility class
.visuallyHidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}