@import '../app/variables';
@import '../app/mixins';

// Add your Header styles here
.wrapper {
  max-width: 1130px;
  margin-inline: auto;
  .wrapper_narrow {
    max-width: 700px;
  }
}

.siteHeader {
  padding-block: 1rem;
}

.site_header_inner {
  @include flex-between;

}
.primaryNavigation {
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem 2rem;
  }

  a {
    text-decoration: none;
  }
    @include respond-to(md) {
      display: none;
  }
}

.openMenu {
  position: absolute;
  z-index: 10;
  top: 0;
  right: 0;
  padding: 2rem;
  border-radius: $border-radius-3;
  background: $background-accent-main;

  ul {
    flex-direction: column;
    gap: 0;
    font-size: $fs-700;
    font-weight: 700;
  }

  li + li {
    margin-top: 1rem;
    padding-top: 1rem;
    border-top: 2px solid $background-accent-light;
  }
}


.hamburger_menu {
  display: none;
  height: 2rem;
  width: 3rem;
  top: 0;
  right: 0;
  z-index: 100;
  background: transparent;
  color: $text-high-contrast;
  border: 0;
  cursor: pointer;

  @include respond-to(md) {
    display: block;
  }
}

.skip:not(:focus) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  white-space: nowrap;
  width: 1px;
  position: absolute;
  background-color: $background-accent-main;
  padding: 1rem;
  border-radius: $border-radius-2;
}

.skip {
  position: absolute;
  background-color: $background-accent-main;
  padding: 1rem;
  border-radius: $border-radius-2;
}
// Utility class
.visuallyHidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}