@import '../app/variables';
@import '../app/mixins';

.section {
  padding-block: 2rem;
    @include fade_in;
}

.wrapper {
  @include wrapper;
  
  .wrapper_narrow {
    max-width: 500px;
    margin-inline: auto;
    padding-block: 2rem;
    text-align: center;
  }
}

.hero {
  background-image: url('/assets/hero.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: $background-extra-dark;
  font-size: $font-size-md;
  text-align: center;
  min-height: 60vh;
  position: relative;
}

.siteTitle {
  font-size: $font-size-heading-lg;
  span {
    font-size: $font-size-heading-xl;
    display: block;
  }
}