@import '../variables';
@import '../mixins';

// Add your Mushroom Guide page styles here

.column {
  @include grid(2)
}

.mushroom_guide {
  margin: .25rem;
}

.filters {
  display: flex;
  gap: 1rem;
  margin: 1rem 0;
  flex-wrap: wrap;

  select {
    color: $text-high-contrast;
    border-radius: $border-radius-2;
    background-color: $background-accent-main;
    border: none;
    font-size: $font-size-md;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 0.5rem 0.5rem 0.5rem 1rem;
    cursor: pointer;
    appearance: none;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 12 12'%3E%3Cpath fill='%23fff' d='M6 9L1 4h10z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 0.75rem center;
    padding-right: 2.5rem;

    &:hover {
      background-color: $background-accent-dark;
    }

    &:focus {
      outline: 2px solid $text-high-contrast;
      outline-offset: 2px;
    }
  }
}

.visuallyHidden {
  @include visually-hidden;
}

.faqBentoGrid {
  color: $text-high-contrast;
  display: grid;
  gap: 1rem;
  grid-template-areas:
    "card-one"
    "card-two"
    "card-three"
    "card-four";

  img {
    height: 100%;
    object-fit: cover;
  }

  // Assign grid areas to each card
  >*:nth-child(1) {
    grid-area: card-one;
  }

  >*:nth-child(2) {
    grid-area: card-two;

  }

  >*:nth-child(3) {
    grid-area: card-three;

  }

  >*:nth-child(4) {
    grid-area: card-four;

  }

  @media (width > 600px) {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "card-one card-two"
      "card-three card-four";
  }

  @media (width > 900px) {
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
      "card-one card-two card-four"
      "card-three card-three card-four";

    // Make card-three span 2 columns
    >*:nth-child(3) {
      display: grid;
      gap: 1rem;
      grid-template-columns: 1fr 1fr;
      img {
        grid-column: 1;
        grid-row: 1/3;
      }

    }
  }
}